html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;
    background-color: #EDEFFF;
    border: #fff;
}

.node {
    fill: #87D4AF;
    stroke: #fff;
    stroke-width: 3px;
}

.link {
    stroke: #918989;
    stroke-width: 3px
}

.fake_link {
    stroke: #918989;
    stroke-width: 3px
}


